

.tags-sidenav {
    width: 100px;
    margin-right:0;
    display: inline-block;
    margin-left: 2%;
    float: left;
    width: 120px;
    position: fixed;
}

.three-dots {
    color: Gray;
}
.three-dots:hover {
    color: black;
}

.show {
    display: block;
}
.container {
    overflow: hidden;
}

.filterDiv {
    float: left;
    background-color: #2196F3;
    color: #ffffff;
    width: 100px;
    line-height: 100px;
    text-align: center;
    margin: 2px;
    display: none; /* Hidden by default */
}
