

.tags-sidenav {
    width: 100px;
    margin-right:0;
    display: inline-block;
    margin-left: 2%;
    float: left;
    width: 120px;
    position: fixed;
}

.three-dots {
    color: Gray;
}
.three-dots:hover {
    color: black;
}
