@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');

body{
    width: auto;
    height: 100%;
}
.flexin-daddy-wrapper{
    display: flex;
    justify-content: center;
    float: left;
    margin-right: 0%;
    margin-left: 40%;
}
.flexin-wrapper{
    display: flex;
    flex-direction:row;
}

.col-flex-wrapper{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}

#title{
    font-family: 'PT sans',sans-serif;
    margin-top: 10%;
    margin-left:36.5%;
}

.topic{
    font-family: 'Pt sans', serif;
    margin: 0;
    background: white;
}

.topic p{
    display: inline-block;
}

.onwards-link{
    margin-top: 15%;
    margin-left: 25%;
}

.onwards-link a{
    text-decoration: none;
    font-family: 'PT Sans',sans-serif;
    border: 1px solid black;
    padding: 1%;
    margin-top: 40%;
}

<!--- signup sheet -----!>

.container {
    font-family: 'PT sans',sans-serif;
    display: flex;
    height: 100%;
    padding-top: 20%;
    }

#logbox {
      padding: 10px;
      margin: 50px auto;
      width: 40%;
      background-color: #fff;
      -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
      -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    }

.title {
  font-family: 'PT sans',sans-serif;
  padding-top: 50px;
  width: 100%;
  font-size: 200%;
  float: left;
}

h1 {
    text-align: center;
    color: black;
    font-weight: 300;
    }

h1, input {
    font-family: 'PT sans',sans-serif;
    font-size: 100%;
  }

a {
    width: 75%;
    text-decoration: none;
  }

h2 {
    padding-top: 10px;
    font-size: 100%;
    font-family: 'PT sans', sans-serif;
    text-align: center;
  }

.input {
    width: 75%;
    height: 50px;
    display: block;
    margin: 0 auto 15px;
    padding: 0 15px;
    border: none;
    border-bottom: 2px solid #ebebeb;
}
.input:focus {
    outline: none;
    border-bottom-color: #3CC !important;
}
.input:hover {
    border-bottom-color: #dcdcdc;
}
.input:invalid {
    box-shadow: none;
}

.pass:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
    }

   .inputButton {
        position: relative;
        width: 85%;
        height: 50px;
        display: block;
        margin: 30px auto 30px;
        color: white;
        background-color: purple;
        border: none;
        -webkit-box-shadow: 0 5px 0 #dcdcdc;
        -moz-box-shadow: 0 5px 0 #dcdcdc;
        box-shadow: 0 5px 0 #dcdcdc;
    }
    .inputButton:hover {
        top: 2px;
        -webkit-box-shadow: 0 3px 0 #dcdcdc;
        -moz-box-shadow: 0 3px 0 #dcdcdc;
        box-shadow: 0 3px 0 #dcdcdc;
    }
    .inputButton:active {
        top: 5px;
        box-shadow: none;
    }
    .inputButton:focus {
        outline: none;
    }

<!--- pickinterests --!>

.box {
  float: left;
  width: 50%;
  padding-left: 25%;
}

.selectors {
  display: block;
  padding-left: 25%;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
}

.selectors input {
  float:left;
  padding-left: 25%;
  cursor: pointer;
  opacity: 0;
}

.mark {
  margin-right: 10%;
  float: left;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.selectors:hover input ~ .mark {
  background-color: #ccc;
}

.selectors input:checked ~ .mark {
    background-color: #81d8d0;
}

.mark:after {
  padding-left: 2.5px;
  content: " ";
  display: none;
}

.selectors input:checked ~ .mark:after {
  display: block;
}

.selectors .mark:after {
    float: left;
    margin-left: 20%;
    margin-top: 20%;
    width: 10px;
    height: 5px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: scaleX(-1) rotate(45deg);
